<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="assets/img/logo1.jpeg" class="navbar-brand" height="45px" width="45px">
    <div class="navbar-brand">Tasty Fusion</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/edit-items">Edit Items</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/menu">View Items</a>
        </li>
        </ul>
        <ul>
        <li class="form-inline my-2 my-lg-0">
    
        <button class="btn btn-outline-success my-2 my-sm-0" aria-current="page"  (click) = "logout()">
       Logout 
        </button>  </li>
        </ul>

    </div>
  </div>
</nav>




