<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>About Us</h1>
      <h2> <i>Nothing brings people together like good food !!! </i> </h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose Tasty Fusion ?</h3>
              <p>
                Here, we prepare food with love and affection along with goodness added to provide the best quality
                at affordable price by using fresh and natural ingredients.We follows contactless reach and provide quick 
                delivery services.
              </p>
              
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Goodness Guaranteed</h4>
                    <p>We provide the best quality food items by using natural ingredients.
                    </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Safe and Fast delivery</h4>
                    <p>We provide ontime and contactless delivery because safety is our first priority</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Attractive Offers</h4>
                    <p> <br>We provide 70% off on first 3 orders along with multiple vouchers available time to time.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                
          </div>
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3> <b> PURPOSE </b> </h3>
            <p> <i>Tasty Fusion is an online food ordering  platform. Here we are providing an easy and 
            user-friendly way to order your favourite  dishes at your ease. We're dedicated to  
            providing you the best of food ordering, with a  focus on dependability and tasty, healthy 
            fresh food. </i> </p> 
            <p> <i>We’re committed to investing our expertise and resources in 
            order to further achieve our cause. We’ve been providing a nutritious food to our community 
            and our service mainly focuses on customer's satisfaction and quality of the food items.
            </i> </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->