<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>Tasty Fusion</span></h1>
          <h2>Giving your hunger a new option !!!</h2>

          <div class="btns">
            <a routerLink='/menu' class="btn-menu animated fadeInUp scrollto">Our Menu</a>
            <a routerLink='/order' class="btn-book animated fadeInUp scrollto">Order Now</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/results?search_query=tasty+fusion" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="assets/img/bg5.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>“Food is symbol of love when words are inadequate.”</h3>
            <p class="fst-italic">
              When you eat the food of your choice at your ease it is nothing less than a heavenly feeling,
              right ?
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> So here we are to give you a heavenly feel by introducing the Tasty Fusion.
              </li>
            </ul>
            <p>
            There are such various cooking styles and food inclinations worked by social and ethnic 
            foundations, topographical areas, and social classes. India is a place that is known for 
            flavours, Africa is a mainland of sauces, Europe reveals esthetical excellence of Food and 
            opens up new chances and innovations for the individuals who esteem and appreciate eating.
            Here we provides the best quality food that satisfies you with the essence of all countries' taste.  
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>How to connect ??</h2>
          <p>Follow these 3 steps !!! </p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4> Login</h4>
              <p>login to our site to make a next move for your hunger.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4> Menu</h4>
              <p>explore our exclusive menu to find out your favourite food item and its details.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4> Order</h4>
              <p>add your favourite food item to the cart and order it. 
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->