<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6" *ngFor = "let item of items" >
        <div class="single-popular-items mb-50 text-center">
            <div class="popular-img">

            
            <img src = "../assets/img/{{item.imgPath}}" class="img-fluid">
               
                
            </div>
            <div class="popular-caption">
                <h3>{{item.Name}}</h3>
                <span> <h4>Rs {{item.price}} </h4></span>
            </div>
            <div class="img-cap">
             <button class ="btn btn-success btn-block"  (click)="addToCart(item)">Add to Cart</button>
            </div>
        </div>
    </div>